.Accordion {
	overflow: hidden;
  outline: none;
}
.AccordionPanel { 
	margin: 0px;
	padding: 0px;
  outline: none;
  background: #f7f7f7;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmZiZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #fbfbfb 1%, #fbfbfb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f7f7f7), color-stop(100%,#fbfbfb));
  background: -webkit-linear-gradient(top,  #fbfbfb 1%,#fbfbfb 100%);
  background: -o-linear-gradient(top,  #fbfbfb 1%,#fbfbfb 100%);
  background: -ms-linear-gradient(top,  #fbfbfb 1%,#fbfbfb 100%);
  background: linear-gradient(top,  #fbfbfb 1%,#fbfbfb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#fbfbfb',GradientType=0 );
  padding: 15px 10px 10px 15px; border: 1px solid #eee; border-radius: 10px; margin-bottom: 20px;
}
.AccordionPanelTab {background:url(../images/arr_down.png) right 9px no-repeat;
	margin: 0px;
	padding: 2px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
}
.AccordionPanelTab h1 {font-size: 20px !important; border:none !important; margin-bottom:0 !important;}
.AccordionPanelContent {
	overflow: auto;
	margin: 0px;
	padding: 0px;
	height: 200px;
}

.AccordionPanelOpen .AccordionPanelTab {  background:url(../images/arr_up.png) right 9px no-repeat;}
.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {background:url(../images/arr_up.png) right 9px no-repeat;}
/* Rules for Printing */

@media print {

  .Accordion {
  overflow: visible !important;
  }
  
  .AccordionPanelContent {
  display: block !important;
  overflow: visible !important;
  height: auto !important;
  }
}