.sp-menu-item.spt a {

  font-size: 14px;

  font-weight: bold;

  text-transform: uppercase;

}

.sp-dropdown .sp-module {

  font-size: 13px;

  font-weight: 600;

  margin-top: 1px;

}

.sliderbutton {

  background: url("../images/learnmore_bt.png") repeat scroll 0 0 hsla(0, 0%, 0%, 0);

  font-size: 17px;

  padding: 16px 29px 8px 9px;

  color: #C22B25!important;

  text-align: -moz-left!important;

  margin-bottom: 7px!important;

}

.sliderbutton:hover {

  background: url("../images/learnmore_bt.png") no-repeat scroll 0 -43px hsla(0, 0%, 0%, 0);

  text-decoration: none;

  transition: 0s all!important;

}

.sliderbutton:hover {

  transition: 0s all!important;

}

.sp-retina-logo {

  display: none;

}

.sp-megamenu-parent {



  float: left;

}

.tp-bullets.simplebullets.round {

  left: 77% !important;

}

.sp-megamenu-parent > li > a {

  border-right: 1px solid hsl(210, 72%, 35%);

  text-align: center;

  font-size:16px;

}



 #sp-menu {

  height: 46px;

}

#offcanvas-toggler {

  float: right;

  line-height: 45px;

}

#sp-header {

  height: 46px;

  background: url("../images/header_nav_bg.png") repeat-x scroll 0 0 hsla(0, 0%, 0%, 0);

  margin-top: 12px;

}

.sp-megamenu-parent > li{

  background: url("../images/header_nav_bg.png") repeat-x scroll 0 0 hsla(0, 0%, 0%, 0);

}

.sp-megamenu-parent > li > a:hover {

  background: url("../images/header_nav_bg.png") repeat-x scroll 0 -49px hsla(0, 0%, 0%, 0);

  color: hsl(0, 0%, 100%);



}

@font-face {

    font-family: 'HelveticaNeueLTStd47LtCn';

    src: url('helveticaneueltstd-ltcn-webfont.eot');

    src: local('☺'), url('../fonts/helveticaneueltstd-ltcn-webfont.woff') format('woff'), url('../fonts/helveticaneueltstd-ltcn-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltstd-ltcn-webfont.svg#HelveticaNeueLTStd47LtCn') format('svg');

    font-weight: normal;

    font-style: normal;

}



@font-face {

    font-family: 'HelveticaNeueLTStd47LtCnOb';

    src: url('helveticaneueltstd-ltcno-webfont.eot');

    src: local('☺'), url('../fonts/helveticaneueltstd-ltcno-webfont.woff') format('woff'), url('../fonts/helveticaneueltstd-ltcno-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltstd-ltcno-webfont.svg#HelveticaNeueLTStd47LtCnOb') format('svg');

    font-weight: normal;

    font-style: normal;

}



@font-face {

    font-family: 'HelveticaNeueLTStd37ThCn';

    src: url('helveticaneueltstd-thcn-webfont.eot');

    src: local('☺'), url('../fonts/helveticaneueltstd-thcn-webfont.woff') format('woff'), url('../fonts/helveticaneueltstd-thcn-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltstd-thcn-webfont.svg#HelveticaNeueLTStd37ThCn') format('svg');

    font-weight: normal;

    font-style: normal;

}



@font-face {

    font-family: 'HelveticaNeueLTStd37ThCnOb';

    src: url('helveticaneueltstd-thcno-webfont.eot');

    src: local('☺'), url('../fonts/helveticaneueltstd-thcno-webfont.woff') format('woff'), url('../fonts/helveticaneueltstd-thcno-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltstd-thcno-webfont.svg#HelveticaNeueLTStd37ThCnOb') format('svg');

    font-weight: normal;

    font-style: normal;

}



@font-face {

    font-family: 'HelveticaNeueLTStd67MdCn';

    src: url('../fonts/helveticaneueltstd-mdcn-webfont.eot');

    src: url('../fonts/helveticaneueltstd-mdcn-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/helveticaneueltstd-mdcn-webfont.woff') format('woff'),

         url('../fonts/helveticaneueltstd-mdcn-webfont.ttf') format('truetype'),

         url('../fonts/helveticaneueltstd-mdcn-webfont.svg#HelveticaNeueLTStd67MdCn') format('svg');

    font-weight: normal;

    font-style: normal;



}



/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 25, 2012 */



@font-face {

    font-family: 'lionel_steam';

    src: url('../fonts/lionel-text-steam-webfont.eot');

    src: url('../fonts/lionel-text-steam-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/lionel-text-steam-webfont.woff') format('woff'),

         url('../fonts/lionel-text-steam-webfont.ttf') format('truetype'),

         url('../fonts/lionel-text-steam-webfont.svg#cheap_pine_sanssans') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'lionel_diesel';

    src: url('../fonts/lionel-text-diesel-webfont.eot');

    src: url('../fonts/lionel-text-diesel-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/lionel-text-diesel-webfont.woff') format('woff'),

         url('../fonts/lionel-text-diesel-webfont.ttf') format('truetype'),

         url('../fonts/lionel-text-diesel-webfont.svg#garamond_premr_proregular') format('svg');

    font-weight: normal;

    font-style: normal;



}

@font-face {

	 font-family: 'AlexonRR-Bold';

	 src: url('../fonts/23BA76_0_0.eot');

	 src: url('../fonts/23BA76_0_0.eot?#iefix') format('embedded-opentype'),

	 url('../fonts/23BA76_0_0.woff') format('woff'),

	 url('../fonts/23BA76_0_0.ttf') format('truetype'),

	 url('../fonts/23BA76_0_0.svg#wf') format('svg'),

	 url('../fonts/23BA76_0_0.svgz#wf') format('svg');

}



@font-face {

	 font-family: 'AlexonRR-Medium';

	 src: url('../fonts/23BA76_2_0.eot');

	 src: url('../fonts/23BA76_2_0.eot?#iefix') format('embedded-opentype'),

	 url('../fonts/23BA76_2_0.woff') format('woff'),

	 url('../fonts/23BA76_2_0.ttf') format('truetype'),

	 url('../fonts/23BA76_2_0.svg#wf') format('svg'),

	 url('../fonts/23BA76_2_0.svgz#wf') format('svg');

}



@font-face {

	 font-family: 'AlexonRR-Light';

	 src: url('../fonts/23BA76_1_0.eot');

	 src: url('../fonts/23BA76_1_0.eot?#iefix') format('embedded-opentype'),

	 url('../fonts/23BA76_1_0.woff') format('woff'),

	 url('../fonts/23BA76_1_0.ttf') format('truetype'),

	 url('../fonts/23BA76_1_0.svg#wf') format('svg'),

	 url('../fonts/23BA76_1_0.svgz#wf') format('svg');

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 25, 2012 */



@font-face {

    font-family: 'lionel_steam';

    src: url('../fonts/lionel-text-steam-webfont.eot');

    src: url('../fonts/lionel-text-steam-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/lionel-text-steam-webfont.woff') format('woff'),

         url('../fonts/lionel-text-steam-webfont.ttf') format('truetype'),

         url('../fonts/lionel-text-steam-webfont.svg#cheap_pine_sanssans') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'lionel_diesel';

    src: url('../fonts/lionel-text-diesel-webfont.eot');

    src: url('../fonts/lionel-text-diesel-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/lionel-text-diesel-webfont.woff') format('woff'),

         url('../fonts/lionel-text-diesel-webfont.ttf') format('truetype'),

         url('../fonts/lionel-text-diesel-webfont.svg#garamond_premr_proregular') format('svg');

    font-weight: normal;

    font-style: normal;



}

@font-face {

	 font-family: 'AlexonRR-Bold';

	 src: url('../fonts/23BA76_0_0.eot');

	 src: url('../fonts/23BA76_0_0.eot?#iefix') format('embedded-opentype'),

	 url('../fonts/23BA76_0_0.woff') format('woff'),

	 url('../fonts/23BA76_0_0.ttf') format('truetype'),

	 url('../fonts/23BA76_0_0.svg#wf') format('svg'),

	 url('../fonts/23BA76_0_0.svgz#wf') format('svg');

}



@font-face {

	 font-family: 'AlexonRR-Medium';

	 src: url('../fonts/23BA76_2_0.eot');

	 src: url('../fonts/23BA76_2_0.eot?#iefix') format('embedded-opentype'),

	 url('../fonts/23BA76_2_0.woff') format('woff'),

	 url('../fonts/23BA76_2_0.ttf') format('truetype'),

	 url('../fonts/23BA76_2_0.svg#wf') format('svg'),

	 url('../fonts/23BA76_2_0.svgz#wf') format('svg');

}



@font-face {

	 font-family: 'AlexonRR-Light';

	 src: url('../fonts/23BA76_1_0.eot');

	 src: url('../fonts/23BA76_1_0.eot?#iefix') format('embedded-opentype'),

	 url('../fonts/23BA76_1_0.woff') format('woff'),

	 url('../fonts/23BA76_1_0.ttf') format('truetype'),

	 url('../fonts/23BA76_1_0.svg#wf') format('svg'),

	 url('../fonts/23BA76_1_0.svgz#wf') format('svg');

}

.tp-caption a {

  transition: none;

}

.spt img {

  display: inline-block!important;

}

.spt1 img {

  display: inline-block!important;

}

.spt .image-title {

  font-size: 13px!important;

}

.spt1 .image-title {

  font-size: 13px;

}

.sp-megamenu-parent > li > a {

  color: hsl(0, 0%, 100%);

  font: 16px "HelveticaNeueLTStd47LtCn" !important;

  line-height: 43px !important;

  padding: 0 24px;

}

.top_rheader_links li a {

  background: url("../images/toprt_bt_bg.png") no-repeat scroll center top hsla(0, 0%, 0%, 0);

  color: hsl(0, 0%, 60%);

  display: inline-block;

  float: right;

  height: 44px;

  list-style: outside none none;

  margin: 0 5px;

  padding-top: 12px;

  text-align: center;

  width: 110px;

}

.top_rheader_links li a:hover{

  background: url("../images/toprt_bt_bg.png") no-repeat scroll center -46px hsla(0, 0%, 0%, 0) !important;

  color: hsl(0, 0%, 7%);

  text-decoration: none;

}

.sp-module .top_rheader_links ul > li > a {

  transition: none;

}

.sp-menu-item.sp-has-child.spt1 ul li a {

  font-weight: bold;

  line-height: 6px;

  font-size: 12px;

}

.home_connectivity {

  background: url("../images/connectivity-home.png") repeat scroll 0 0 hsla(0, 0%, 0%, 0);

  cursor: pointer;

  height: 77px;

  margin: 0 0 8px;

  width: 322px;

}

.home_solutions {

  background: url("../images/solutions_home.png") repeat scroll 0 0 hsla(0, 0%, 0%, 0);

  cursor: pointer;

  height: 77px;

  margin: 8px 0;

  width: 322px;

}

.home_managed_services {

  background: url("../images/mservices-home.png") repeat scroll 0 0 hsla(0, 0%, 0%, 0);

  cursor: pointer;

  height: 77px;

  margin: 0 0 8px 8px;

  width: 322px;

}

.home_consulting {

  background: url("../images/consulting-home.png") repeat scroll 0 0 hsla(0, 0%, 0%, 0);

  cursor: pointer;

  height: 77px;

  margin: 8px 0 8px 8px;

  width: 322px;

}

.home_connectivity div {

  line-height: 14px!important;

  width: 256px;

  font: 11px Arial,Helvetica,sans-serif;

}

.home_solutions div {

  line-height: 14px!important;

  width: 256px!important;

  font: 11px Arial,Helvetica,sans-serif!important;

}

.home_managed_services div {

  line-height: 14px!important;

  width: 256px!important;

  font: 11px Arial,Helvetica,sans-serif!important;

}

.home_consulting  div {

  line-height: 14px!important;

  width: 256px!important;

  font: 11px Arial,Helvetica,sans-serif!important;

}

.home_connectivity:hover {

  background: url("../images/connectivity-home.png") repeat scroll 0 77px hsla(0, 0%, 0%, 0);

}

.home_solutions:hover {

  background: url("../images/solutions_home.png") repeat scroll 0 77px hsla(0, 0%, 0%, 0);

}

.home_managed_services:hover {

  background: url("../images/mservices-home.png") repeat scroll 0 77px hsla(0, 0%, 0%, 0);

}

.home_consulting:hover {

  background: url("../images/consulting-home.png") repeat scroll 0 77px hsla(0, 0%, 0%, 0);

}



@media screen and (max-width: 980px) {

 .tab-responsive td {

  display: inline !important;

}	

.home_managed_services {

  margin: 0 0 8px 0;

}	

.home_consulting {

  margin: 0; 

}

}

@media screen and (max-width: 767px) {

#sp-menu {

  float: right;

}



}

.fb_link {

  background: url("../images/fblink.png") no-repeat scroll 0 0 hsla(0, 0%, 0%, 0);

  cursor: pointer;

  height: 29px;

  margin: 0 0 8px;

  width: 92px;

}

.sp-copyright {

  display: inline-block;

  float: left;

  font-family: "HelveticaNeueLTStd47LtCn";

  font-size: 12px;

}

#sp-footer1 .sp-module {

  float: left!important;

  margin: 0;

  display: inline-block;

  font-size:12px;

}

#sp-footer {

  background: none repeat scroll 0 0 hsl(196, 87%, 54%);

  color: hsl(0, 0%, 60%);

}

#sp-footer1 a {

  color: hsl(0, 0%, 60%);

}

#sp-footer {

  background: none repeat scroll 0 0 hsl(0, 0%, 100%) !important;

  padding: 10px;

}

.itemid-512 .sp-page-title .container {

  background-image: url("../images/aboutcover.png") !important;

  background-repeat: no-repeat;

  background-size: contain !important;

  height: 150px;

}

.sp-page-title{

  padding:0px;	

}

.sp-page-title {

  background: none repeat scroll 0 0 hsla(0, 0%, 0%, 0);

}

.sp-page-title h2{

  color: hsl(210, 98%, 17%);

  font: 40px/32px "HelveticaNeueLTStd47LtCn";

  text-shadow: 2px 2px 1px hsl(0, 0%, 100%);

  text-transform: uppercase;

}

.sp-page-title .breadcrumb {

  background: none repeat scroll 0 0 hsla(0, 0%, 0%, 0);

  margin: 81px 0 0;

  padding: 0;

}

.sp-page-title .breadcrumb > span, .sp-page-title .breadcrumb > li, .sp-page-title .breadcrumb > li + li:before, .sp-page-title .breadcrumb > li > a {

  color: hsl(210, 79%, 35%);

}

.sp-page-title .breadcrumb > .active {

  color: hsl(0, 0%, 0%);

}

.sp-page-title h2 {

  margin-left: 24px;

  margin-top: 51px;

}



@media screen and (max-width: 767px) {

#sp-menu {

  float: right;

}

.sp-page-title h2 {

  margin-left: 24px;

  margin-top: 8px;

}

}

#sp-main-body {

  padding: 51px 0;

}



.sppb-addon-containerfooterlink h6 {

  font-family: "HelveticaNeueLTStd47LtCn" !important;

  font-size: 16px !important;

  text-decoration: none !important;

  font-weight:normal;

  color:#fff;

  margin-bottom: 14px;

}

.sppb-addon-containerfooterlink li a {

  font-size: 11px !important;

  text-decoration: none;

  color:#fff;

}

.sppb-addon-containerfooterlink li {

  list-style:none;	

  line-height: 13px;

}

.sppb-addon-containerfooterlink ul{

	padding:0px;

}

.sppb-addon-containerfooterlink .col-md-6 {

  padding: 1px;

}

.sppb-addon-containerfooterlink li a:hover {

 text-decoration:underline;

}

.footermainSec .sppb-container {

  background: none repeat scroll 0 0 hsl(212, 54%, 36%);

  border-radius: 12px;

}

#sp-footer1 a:hover {

  text-decoration: underline;

  color: initial;

}

@media screen and (max-width: 800px) {

#sp-facebook {

  float: left;

}

}

.acymailing_form tr {

  display: inline;

}

.acymailing_module_form input {

  width: 106px!important;

   

}

.inputbox {

 border-radius: 11px!important;

}

.sppb-addon-containerupdates.sppb-wow.fadeInLeft.sppb-animated {

  margin-top: -21px!important;

}

.sppb-addon-containerupdates.sppb-wow.fadeInLeft.sppb-animated .sppb-addon-content {

  font:13px/22px Arial,Helvetica,sans-serif;

}

.acysubbuttons .button {

  background: none repeat scroll 0 0 hsl(2, 58%, 44%);

  border: 2px solid hsl(343, 93%, 35%);

}

.sppb-addon-containerupdates.sppb-wow.fadeInLeft.sppb-animated .sppb-addon-title {

  color: #0F559B;

  border-bottom: 1px dotted;

  font-size: 19px;

}
.post-format {
  display: none;
}
.sp-megamenu-parent > li > a {
  padding: 1px 23px;
}

body {

font-family:Arial,Helvetica,sans-serif!important;
font-size:13px;
color:hsl(0, 0%, 27%)!important;
}
.sp-megamenu-parent > li.active > a, .sp-megamenu-parent > li:hover > a {
  color: hsl(196, 87%, 54%) !important;
}
.right_submenu {
  background: none repeat scroll 0 0 hsl(0, 0%, 93%);
  border: medium none hsl(0, 0%, 95%);
  border-radius: 8px;
  font: 16px "HelveticaNeueLTStd47LtCn";
  margin-bottom: 20px;
  padding-bottom: 12px;
  padding-top: 20px;

}
.right_submenu.sp-module ul > li > a {
  line-height: 24px;
}
@media screen and (min-width: 800px) {
#sp-right{
  padding-right:0px;	
}
}
.right_submenu.sp-module ul > li > a:before {
  color: hsl(210, 73%, 37%);
  content: "";
  font-family: FontAwesome;
  font-size: 22px;
  font-weight: bold;
  margin-left: 16px;
  margin-right: 8px;
}
.right_quote {
  background: url("../images/boxes_bg_red.png") no-repeat scroll 0 0 / cover  hsla(0, 0%, 0%, 0);
  border: medium none hsl(0, 0%, 95%);
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  font: 12px/18px "HelveticaNeueLTStd47LtCn" !important;
  height: 129px;
  margin-bottom: 13px;
  margin-top: 23px !important;
  padding: 12px 3px 0 28px;
}
.right_quote h1{
  border: medium none !important;
  color: hsl(0, 0%, 100%) !important;
  font: 20px "HelveticaNeueLTStd67MdCn" !important;
  margin-bottom: 0;
  padding-bottom: 5px;
  margin-top:0px;
}
.tel2 {
  background: url("../images/icon_tel2.png") no-repeat scroll left center hsla(0, 0%, 0%, 0);
  padding-left: 22px;
}
.eml2 {
  background: url("../images/icon_mail2.png") no-repeat scroll left center hsla(0, 0%, 0%, 0);
  padding-left: 22px;
}
.eml2 {
  background: url("../images/icon_mail2.png") no-repeat scroll left center hsla(0, 0%, 0%, 0);
  padding-left: 22px;
}
.fax2 {
  background: url("../images/icon_fax2.png") no-repeat scroll left center hsla(0, 0%, 0%, 0);
  padding-left: 22px;
}
.right_quote p {
  font: 13px/22px Arial,Helvetica,sans-serif;
  margin-bottom: 0;
}
.itemid-548 .sp-page-title .container {

  background-image: url("../images/aboutcover.png") !important;

  background-repeat: no-repeat;

  background-size: contain !important;

  height: 150px;

}
.itemid-549 .sp-page-title .container {

  background-image: url("../images/aboutcover.png") !important;

  background-repeat: no-repeat;

  background-size: contain !important;

  height: 150px;

}
@media screen and (max-width: 991px) {
.right_quote {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: hsl(1, 75%, 32%);
  background-image: url("../images/boxes_bg_red.png");
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: unset;
  border: medium none hsl(0, 0%, 95%);
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  font: 12px/18px "HelveticaNeueLTStd47LtCn" !important;
  height: 139px;
  margin-bottom: 13px;
  margin-top: 23px !important;
  padding: 12px 3px 0 11px;
}
}
.right_submenu.sp-module ul > li.active > a:before{
  color:#fff!important;	
}
.right_submenu.sp-module ul > li.active > a{
  color:#fff;
  background:#1A60A5;	
}
#sp-component {

  border-top:1px solid #ccc;	

}
#sp-right {
  margin-top: -23px;
}
.content_box {
  border: 2px solid hsl(249, 15%, 91%);
}
.content_box, .content_box_rt {

  border-radius: 8px;
  float: left;
  margin: 15px 15px 15px 0;
  overflow: hidden;
  padding-left: 12px;
}
.content_box.gradient > h1 {
  border: medium none;
  color: hsl(210, 67%, 41%);
  font: 18px "HelveticaNeueLTStd67MdCn" !important;
  margin-bottom: 2px;
}
.content_box p {
  font: 12px/18px Arial,Helvetica,sans-serif !important;
  color:hsl(0, 0%, 27%);
}
@media screen and (max-width: 767px) {
#sp-right {
  clear: both;
}
}
.pad {
  padding: 0;
}
.content_box:hover {
  background: none repeat scroll 0 0 hsl(0, 0%, 100%);
  border: 2px solid hsl(228, 4%, 77%);
  box-shadow: 3px 3px 4px hsl(228, 4%, 77%);
}
.itemid-280 .sp-page-title .container {

  background-image: url("../images/servicescover.png") !important;

  background-repeat: no-repeat;

  background-size: contain !important;

  height: 150px;

}
@media screen and (min-width: 800px)  and (max-width: 980px){
	
.pad {
  padding: 0;
  width: 368px;
}
}
h1 {
  border-bottom: 1px solid hsl(0, 0%, 84%);
  color: hsl(210, 67%, 41%);
  font: 24px "HelveticaNeueLTStd67MdCn";
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-weight:500 !important;
}
.itemid-513 .sp-page-title .container {

  background-image: url("../images/partnerscover.png") !important;

  background-repeat: no-repeat;

  background-size: contain !important;

  height: 150px;

}
.wk-content.clearfix > h1 {
  color: hsl(0, 0%, 20%) !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.logo h1 {
  border: 0px;
}

table.members_table td {
  border-bottom: 1px solid hsl(0, 0%, 93%);
  font-size: 12px;
  font-weight: normal;
  padding: 10px 2px;
}
table.members_table td {
  border-bottom: 1px solid hsl(0, 0%, 93%);
  font-size: 12px;
  font-weight: normal;
  padding: 10px 2px;
}
.wk-slideshow-tabs .nav li.active span  {
  background: #286DB1!important;
  border-bottom: medium none;
  color:#fff;
}
.wk-slideshow-tabs .nav li span {
  font: 14px "HelveticaNeueLTStd67MdCn";
  padding: 15px 16px 10px 17px !important;
}
.wk-slideshow-tabs .nav li {
  border: 0px solid hsl(0, 0%, 87%);
  border-radius:0;
  box-shadow: 0 0px 0 hsl(0, 0%, 100%) inset;
  margin: 0 0 -1px 5px;
  text-shadow: 0 0px 0 hsl(0, 0%, 100%);
}
.wk-slideshow-tabs .slides-container {
  border: 0px solid hsl(0, 0%, 87%);
}
.wk-slideshow-tabs .nav li {
  border: 0 solid hsl(0, 0%, 87%);
 border-left: 1px solid hsl(0, 0%, 80%);
 margin:0px;
}
.wk-slideshow-tabs .nav span {
  background: hsl(0, 0%, 87%);
  overflow: hidden;
  padding: 7px 15px 5px;
}
.wk-content.clearfix {
  background: url("../images/members_bg.png") no-repeat scroll right bottom hsl(0, 0%, 97%);
  border-bottom: 1px solid hsl(0, 0%, 95%);
  border-radius: 3px;
  clear: both;
}
.itemid-517 .sp-page-title .container {

  background-image: url("../images/servicescover.png") !important;

  background-repeat: no-repeat;

  background-size: contain !important;

  height: 150px;

}
.content_box.gradient h1
 {
  border: medium none;
  color: hsl(210, 67%, 41%);
  font: 18px "HelveticaNeueLTStd67MdCn" !important;
  margin-bottom: 2px;
}
h4 {
  border-bottom: medium none !important;
  color: hsl(210, 67%, 41%) !important;
  font: 20px "HelveticaNeueLTStd67MdCn" !important;
  margin: 0;
  padding-bottom: 20px;
}
.itemid-266 .sp-page-title .container {

  background-image: url("../images/servicescover.png") !important;

  background-repeat: no-repeat;

  background-size: contain !important;

  height: 150px;

}
.features li {
  background: url("../images/features_arr.png") no-repeat scroll 0 10px hsla(0, 0%, 0%, 0);
  font-size: 13px;
  list-style: outside none none;
  padding: 5px 0 5px 25px;
}
.features {
  padding-left: 0;
}
.itemid-270 .sp-page-title .container {

  background-image: url("../images/managedservecescover.png") !important;

  background-repeat: no-repeat;

  background-size: contain !important;

  height: 150px;

}
.itemid-271 .sp-page-title .container {

  background-image: url("../images/solutionscover.png") !important;

  background-repeat: no-repeat;

  background-size: contain !important;

  height: 150px;

}
.itemid-268 .sp-page-title .container {

  background-image: url("../images/consultingcover.png") !important;

  background-repeat: no-repeat;

  background-size: contain !important;

  height: 150px;

}
.itemid-257 .sp-page-title .container {
  background-image: url("../images/servicescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.itemid-259 .sp-page-title .container {
  background-image: url("../images/servicescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.itemid-251 .sp-page-title .container {
  background-image: url("../images/managedservecescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.d_serverplans td.first p {
  color: hsl(210, 67%, 40%);
}
.d_serverplans p {
  border-bottom: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 53%);
  font: 11.5px Arial,Helvetica,sans-serif !important;
  padding: 8px 0;
}
.itemid-275 .sp-page-title .container {
  background-image: url("../images/managedservecescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.itemid-229 .sp-page-title .container {
  background-image: url("../images/managedservecescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.itemid-452 .sp-page-title .container {
  background-image: url("../images/managedservecescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.brbt {
  border-bottom: 1px dashed hsl(0, 0%, 60%) !important;
  padding-bottom: 22px !important;
}
.td_nor {
  font-weight: bold !important;
  font-size:14px !important;
 }
.itemid-526 .sp-page-title .container {
  background-image: url("../images/managedservecescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
@media screen and (max-width: 767px) {
.col-md-6.pad.item12 .gradient {
  width: 293px;
}
}
.itemid-527 .sp-page-title .container {
  background-image: url("../images/managedservecescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.itemid-518 .sp-page-title .container {
  background-image: url("../images/fibercover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.itemid-519 .sp-page-title .container {
  background-image:url("../images/servicescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}

.itemid-520 .sp-page-title .container {
  background-image:url("../images/satellitecover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
tr.odd td {
  background: none repeat scroll 0 0 hsl(0, 0%, 94%);
}
tr.even td {
  background: none repeat scroll 0 0 hsl(0, 0%, 98%);
}
.itemid-521 .sp-page-title .container {
  background-image:url("../images/dslcover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.itemid-522 .sp-page-title .container {
  background-image: url("../images/servicescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
#map_canvas {
  height: 400px;
  width: 720px;
}
.itemid-523 .sp-page-title .container {
  background-image: url("../images/servicescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.itemid-524 .sp-page-title .container {
  background-image: url("../images/servicescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.itemid-525 .sp-page-title .container {
  background-image: url("../images/servicescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.clearfloat {
  clear: both;
}
.itemid-528 .sp-page-title .container {
  background-image: url("../images/managedservecescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}
.itemid-529 .sp-page-title .container {
  background-image: url("../images/managedservecescover.png") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 150px;
}